### Read csv file

In [7]:
import pandas as pd
roster = pd.read_csv("ASR.csv")
roster.head()

,ArrivalDt,EnrolledId,EnrDt,StudentLName,StudentFName,StudentMName,StudentId,DoB,Resident,Sex,StaffLName,StaffFName,StaffMName,DormGroup,CenterName,Race,EnrollmentType,PaidDays,Los,Age
0,3/1/2022,0,4/8/2019,CERVANTES,ELI,NaN,1778739,7/18/1998,Y,M,Shahan,Catherine,NaN,Dorm 23 2312,NaN,Hispanic or Latino,AT Transfer,1069,1113,23
1,4/6/2021,0,7/23/2019,CARMODY,OLIVER,F,1796106,9/8/1996,Y,M,Shahan,Catherine,NaN,Dorm 23 2303,NaN,White,AT Transfer,974,1007,25
2,10/5/2021,0,9/9/2019,JOHNSON,JERMAINE,X,1798438,10/7/2002,Y,M,Shahan,Catherine,NaN,Dorm 23 2301,NaN,Black or African American,AT Transfer,919,959,19
3,1/7/2020,0,1/7/2020,SINAGRA,DEVLIN,R,1798549,3/29/2000,Y,M,Baker,Jesse,NaN,Dorm 21 2110,NaN,White & Hispanic/Latino,New Student,820,839,22
4,8/24/2021,0,11/25/2019,LITTLEHAT,COLEN,NaN,1799445,7/14/1995,Y,M,Shahan,Catherine,NaN,Dorm 23 2302,NaN,American Indian or Alaska Native,AT Transfer,779,812,26

In [8]:
roster.drop(['ArrivalDt', 'EnrolledId','EnrDt','StudentMName','DoB','Resident','Sex','StaffLName','StaffFName','StaffMName','DormGroup','CenterName','Race','EnrollmentType','PaidDays','Los','Age'], axis = 1, inplace=True)

In [12]:
roster = roster.rename({'StudentLName': 'last', 'StudentFName':'first', 'StudentId':'id'}, axis=1, index=None)

In [13]:
roster

            last     first       id
0      CERVANTES       ELI  1778739
1        CARMODY    OLIVER  1796106
2        JOHNSON  JERMAINE  1798438
3        SINAGRA    DEVLIN  1798549
4      LITTLEHAT     COLEN  1799445
..           ...       ...      ...
78     GILLESPIE   CAMERON  1895887
79   DELAROSA II   ANTHONY  1896707
80  LAWRENCE III    ROBERT  1896769
81      LAWRENCE      LUIS  1896919
82      WILLIAMS   COLLEEN  1897628

[83 rows x 3 columns]

In [15]:
roster = roster[['first','last','id']]

In [16]:
roster

       first          last       id
0        ELI     CERVANTES  1778739
1     OLIVER       CARMODY  1796106
2   JERMAINE       JOHNSON  1798438
3     DEVLIN       SINAGRA  1798549
4      COLEN     LITTLEHAT  1799445
..       ...           ...      ...
78   CAMERON     GILLESPIE  1895887
79   ANTHONY   DELAROSA II  1896707
80    ROBERT  LAWRENCE III  1896769
81      LUIS      LAWRENCE  1896919
82   COLLEEN      WILLIAMS  1897628

[83 rows x 3 columns]

In [19]:
roster.to_csv('formatted.csv', index=False)